docker {
  enabled = false
}

singularity {

  enabled = true
  autoMounts = true

  cacheDir = '/nfs/cellgeni/imaging/singularity/cache'

}
process {

  cpus = 28
  /*memory = 310.GB*/
  maxForks = 10
  maxRetries = 2
  maxErrors = '-1'
  //errorStrategy = 'ignore'

  // Capture exit codes from upstream processes when piping
  shell = ['/bin/bash', '-euo', 'pipefail']

  // Process-specific resource requirements

}
